<html>
  <title>Pxelerator</title>
  <body>
    <ul>
      <li><a href='<%= to('/bar') %>'>/bar</a></li>
      <li><a href='<%= to('/host/all/list') %>'>/host/list/all</a></li>
      <li><a href='<%= to('/list') %>'>/host/list/all</a></li>
		</ul>
    <%# <%= show_settings_output? %> %>
  </body>
</html>
